body {
    background: radial-gradient(circle, #b3d9ff 0%, #3399ff 50%, #003366 100%);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  